<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frank Spitzock Resume</title>
</head>
<body>

    <h2>Frank Spitzock</h2>
    <h6>Software Engineer</h6>
    <p>fspitzock@yahoo.com  |
        239-233-0032  |
        Orlando, FL
    </p>

    <p><strong>Objective</strong></p>
 
<p>Strong communicator with a proven ability to present analytical findings to both technical and non-technical stakeholders, fostering a data-driven culture.
</p>
<p><strong>Experience</strong></p>
 
<p>Full Sail University | Financial Aid	2012 - current<br>
•	Utilize Excel spreadsheets with various formulas to make workflow more efficient and streamlined<br>
•	Pull daily and weekly reports<br>
•	Extract data points for executive reviewal <br>
•	Find creative solutions to help cover tuition charges<br>
•	Assist with complex financial scenarios<br>
•	Review class schedule with students/parents<br>
•	Review and counsel financial aid information with students/parents<br>
•	Maintain knowledge of Title IV regulations and Institutional policies<br>
•	Support management with various tasks and projects<br>
•	Create and maintain workflow for teams<br>
</p>

    
</body>
</html>